In [23]:
def print_my_name(myname):
    # This will print the given name
    print('The given name is', myname)
 
print_my_name('shofikul islam')

The given name is shofikul islam

In [24]:
def print_my_name(myname):
    # This will print the given name
    print('The given name is', myname)
    return
print_my_name('shofikul islam')

The given name is shofikul islam

In [25]:
def myName(myname):
    
    print('The given name is', myname)
 
myName('shofikul islam')

The given name is shofikul islam

In [26]:
def myName(myname):
    
    print('The given name is', myname)  
myName('shofikul islam')

The given name is shofikul islam

In [27]:
def myName(myname):
    
    print('My full name is:', myname)  
 
myName('shofikul islam')

My full name is: shofikul islam

In [28]:
# কি-ওয়ার্ড আর্গুমেন্ট (Keyword argument) 

'''' 

এবার আমরা ফাংশনে ভ্যালু পাস করেছি 
এভাবে: b=2, c=3, a=1। পজিশনাললি নয়, বরং 
কোনটার মান কত হবে তা সরাসরি বলে দিয়েছি। এভাবে
কি-ওয়ার্ড আর্গুমেন্ট ব্যবহার করার একটা সুবিধা রয়েছে,
বিশেষ করে অনেকগুলো আর্গুমেন্ট ব্যবহার করার সময়
, আর্গুমেন্টের ধারাবাহিকতা রক্ষা করার দরকার পড়ে না।

'''

def add(x, y, z):
    return x +y+z
result = add(10, 20, 30)
print(result)

60

In [29]:
# ডিফল্ট আর্গুমেন্ট (Default argument) 

''' 
তিন নাম্বার লাইনটা বিবেচনা করা যাক। আমরা কিন্তু প্যারামিটার হিসাবে এবার দুইটা ভ্যালু পাস করেছি। অথচ ফাংশনটা তিনটা প্যারামিটার নেয়। তারপরও কোন এরর থ্রো করে নাই। কারণ হল, আমরা c এর ভ্যালু ডিফল্টভাবে 3 দিয়ে দিয়েছি। এতে যদি c এর জন্য কোন ভ্যালু পাস করা না হয় তবে ডিফল্ট ভ্যালু 3 নিয়েই ফাংশন কাজ করবে। আর যদি কোন ভ্যালু পাস করা হয় তবে ঐ ভ্যালুটা নিয়ে ফাংশন কাজ করবে। আরেকটা উদাহরণ দিলেই ব্যাপারটা পরিষ্কার হয়ে যাবে।
'''


def add(x, y, z=3):
    return x +y+z
result = add(1, 2)
print(result)

6

In [30]:
# ভ্যারিয়েবল লেংথ আর্গুমেন্ট (Variable-length argument) 



'''

আমরা যে add() ফাংশনটা লিখলাম সেটাতে কিন্তু একটা ভয়ানক দোষ আছে। আমরা তিনটা মাত্র প্যারামিটার দিয়েছি। ফলে মাত্র তিনটা সংখ্যা যোগ করতে পারব। কিন্তু আমাদের ইউজার ঠিক কয়টা সংখ্যা দেবে তা কি আমরা জানি? জানিনা। তাই আমা

 '''


def add(*args):
    print(type(args))
    tmp = 0
    for number in args:
        tmp = tmp + number
    return tmp
temp = add(1, 2, 22, 12, 17, 21, 98)
print(temp)

<class 'tuple'>
173

In [31]:
# variable_length  arguments argument
def myFun(*argv):
    for arg in argv:
        print(arg) 
          
myFun('Hello', 'Welcome', 'to', 'GeeksforGeeks')


def myFun(*argv):
    for arg in argv:
        print(arg)

Hello
Welcome
to
GeeksforGeeks

In [32]:
# variable length arguments

'''
ফাংশনের যেকোন প্যারামিটারের আগে একটা অ্যাসটেরিস্ক * চিহ্ন দিলে সেটা আনলিমিটেড ভ্যালু হোল্ড করতে পারে। জেনে রাখা ভাল, এই প্যারামিটারটা একটা টাপল তৈরি করে সবগুলো ভ্যালু হোল্ড করে। পরে একটা for লুপ চালিয়ে আমরা সবগুলো ভ্যালু অ্যাক্সেস করতে পারি। এটাকে নন-কীওয়ার্ডেড (non-keyworded) ভ্যারিয়েবল লেংথ আর্গুমেন্ট বলা হয়।

'''

def  add(*args):
    tmp=0
    for number in args:
        tmp= tmp + number        

    return tmp
temp=add(1, 2, 22, 12, 17, 21, 98)
print(temp)

173

In [33]:

'''

যদি আমরা কি-ওয়ার্ড আর্গুমেন্ট পাস করতে চাইতাম? তখন প্যারামিটারের আগে দুইটা অ্যাসটেরিস্ক * চিহ্ন দিতে হত। এটাকে কীওয়ার্ডেড (keyworded) ভ্যারিয়েবল লেংথ আর্গুমেন্ট বলা হয়। এই প্যারামিটারটা একটা ডিকশনারি তৈরি করে সবগুলো ভ্যালু হোল্ড করে। যেমন:

'''

def add(**kwargs):
     
    tmp = 0
    for key in kwargs:
        tmp = tmp + kwargs[key]
    return tmp
temp = add(a=1, b=2, c=3, d=4)
print(temp)

10

In [34]:
def add(a, b, c):
    return a+b+c
add(1, 2, 3)

6

In [35]:
# required arguments   

def add(a, b, c):
    return a+b+c    
add(1, 2, 3)

6

In [36]:
# required arguments   

def add(a, b, c):

    total=a+b+c    
    print(total)
add(1, 2, 3)

6

In [37]:
# keyword arguments        

# def add(a, b, c):
#     total=a+b+c    
#     print(total)
# add(  a=4, b=5, c=6)

In [38]:
# এক লাইনের ফাংশন - ল্যাম্বডা (lambda)


sum = lambda a, b : a + b
print(sum(10, 20))
print((lambda a, b : a + b)(10, 20))

30
30

In [39]:
my_list = [2, 3, 4, 5, 6, 7]

def square(x):
    return x * x

new_list = map(square, my_list)
print(new_list)
print(list(new_list))

<map object at 0x000002318DB84EE0>
[4, 9, 16, 25, 36, 49]

In [40]:
# function  ic  12  start 

def myFun():
    x=10
    y=20
    print(x+y)

myFun()

30

In [41]:
def myFun():
    x=20
    y=30
    print(x+y)

myFun()

50

In [42]:
'''

1. What is function ?
2. How to Write & Call function?
3. Real World Use Case?
    - Function=Action
    - Code Reusability
    - Modular
    - Data Process
    - Event=Action
    - Validation
    - Testing
    - User input,output

4. Functional Programming

5. Function Parameter
        - General Parameter
        - Required and Optional Parameter
        - Length Parameter/ Rest Parameter/ Tuple Parameter=> Create a Tuple
        - Keyword Parameter/ Dic Parameter=> Create a Dic

6. Function Return
    - একটি ফাংশন যাহা রিটার্ন করে , গুনে ও মানে তাহার সমান হয়ে যায় ।
    - Function Return int=Function()
    - Function Return list/set/dic/bool/str=Function()
    - Single Return
    - Multiple Return (Create a Tuple)
    - Return

7. Local & Global Variables in Function
        - How Local Works যেই ফাংশনের ভেতরে ভেরিয়েবল লিখেছি , সেটা শুধু মাত্র তাহার জন্যেই কাজ করে । 
        - How Global Works মুক্ত স্বাধীন বাইরে রাখা ভেরিয়েবল


8. Inline Function or Short Hand Function or Lamda Function
    - Simple 1/2 Line Calculation
    - map/ filter/ sort
    - minor case
    - not for complex


9. Arrow Function ()=>{}
    - Python doesn't has this


10. Recursive Function
    - যে ফাংশন নিজেই নিজেকে কল করে

11. Call Back Function
    - ফাংশনের প্যারামিটার যাহা নিজেই একটি ফাংশন



'''

"\n\n1. What is function ?\n2. How to Write & Call function?\n3. Real World Use Case?\n    - Function=Action\n    - Code Reusability\n    - Modular\n    - Data Process\n    - Event=Action\n    - Validation\n    - Testing\n    - User input,output\n\n4. Functional Programming\n\n5. Function Parameter\n        - General Parameter\n        - Required and Optional Parameter\n        - Length Parameter/ Rest Parameter/ Tuple Parameter=> Create a Tuple\n        - Keyword Parameter/ Dic Parameter=> Create a Dic\n\n6. Function Return\n    - একটি ফাংশন যাহা রিটার্ন করে , গুনে ও মানে তাহার সমান হয়ে যায় ।\n    - Function Return int=Function()\n    - Function Return list/set/dic/bool/str=Function()\n    - Single Return\n    - Multiple Return (Create a Tuple)\n    - Return\n\n7. Local & Global Variables in Function\n        - How Local Works যেই ফাংশনের ভেতরে ভেরিয়েবল লিখেছি , সেটা শুধু মাত্র তাহার জন্যেই কাজ করে । \n        - How Global Works মুক্ত স্বাধীন বাইরে রাখা ভেরিয়েবল\n\n\n8. Inline Function or Short Hand Function or Lamda Function\n    - Simple 1/2 Line Calculation\n    - map/ filter/ sort\n    - minor case\n    - not for complex\n\n\n9. Arrow Function ()=>{}\n    - Python doesn't has this\n\n\n10. Recursive Function\n    - যে ফাংশন নিজেই নিজেকে কল করে\n\n11. Call Back Function\n    - ফাংশনের প্যারামিটার যাহা নিজেই একটি ফাংশন\n\n\n\n"

In [43]:
def myFun(x, y):
    print(x,y)
myFun(10, 20)
myFun(30, 40)
myFun(50, 60)

10 20
30 40
50 60

In [44]:
def myFun(x, y):
    print(x+ y)
myFun(10, 20)
myFun(30, 40)
myFun(50, 60)

30
70
110

In [45]:
# default arguments here  y , z 
def myFun(x,y=400,z=100):
    print( x+ y+z)
myFun(10, 30, 50)

90

In [46]:
# ভ্যারিয়েবল লেংথ আর্গুমেন্ট (Variable-length argument) 

'''  

ফাংশনের যেকোন প্যারামিটারের আগে একটা অ্যাসটেরিস্ক * চিহ্ন দিলে সেটা আনলিমিটেড ভ্যালু হোল্ড করতে পারে। জেনে রাখা ভাল, এই প্যারামিটারটা একটা টাপল তৈরি করে সবগুলো ভ্যালু হোল্ড করে। পরে একটা for লুপ চালিয়ে আমরা সবগুলো ভ্যালু অ্যাক্সেস করতে পারি। এটাকে নন-কীওয়ার্ডেড (non-keyworded) ভ্যারিয়েবল লেংথ আর্গুমেন্ট বলা হয়।

'''

def myFun(*args):
    print(args)



myFun()
myFun(10)
myFun(10, 20)

myFun(10, 20, 30)
myFun(10, 20, 30, 40)
myFun("x","A"," b","1","2")

()
(10,)
(10, 20)
(10, 20, 30)
(10, 20, 30, 40)
('x', 'A', ' b', '1', '2')

In [47]:
def myFun(*x):
    print(x)


myFun()
myFun(10)
myFun(10,20)
myFun(10,20,30)
myFun(10,20,30,40)
myFun("A","B",1,2)

print(type(x))

()
(10,)
(10, 20)
(10, 20, 30)
(10, 20, 30, 40)
('A', 'B', 1, 2)

NameError: name 'x' is not defined

In [ ]:
''' 
যদি আমরা কি-ওয়ার্ড আর্গুমেন্ট পাস করতে চাইতাম? তখন প্যারামিটারের আগে দুইটা অ্যাসটেরিস্ক * চিহ্ন দিতে হত। এটাকে কীওয়ার্ডেড (keyworded) ভ্যারিয়েবল লেংথ আর্গুমেন্ট বলা হয়। এই প্যারামিটারটা একটা ডিকশনারি তৈরি করে সবগুলো ভ্যালু হোল্ড করে। যেমন:

'''
def myFun(**x):
    print(x)


myFun(name="shofikul", age=25, city="Dhaka"  )

{'name': 'shofikul', 'age': 25, 'city': 'Dhaka'}

In [ ]:
def myFun(**x):
    print(x)


myFun(name="RABBI",age=35,city="Dhaka")

{'name': 'RABBI', 'age': 35, 'city': 'Dhaka'}

In [ ]:
# একটি ফাংশন যাহা রিটার্ন করে , গুনে ও মানে তাহার সমান হয়ে যায় ।

def demoFun():
    name="shofikul"
    age=25
    height=5.6
    city="Dhaka"
    country= ("ban" ,"india","pakistan" )
    return country
result=demoFun()
print(result)

('ban', 'india', 'pakistan')

In [ ]:
def demoFun():
    name="Rabbi"
    age=35
    height=5.8
    city=["Dhaka","Ctg","Rang"]
    country=("Ban","Ind","Pak")

    return country


result = demoFun()
print(result)

('Ban', 'Ind', 'Pak')

In [ ]:
def demoFun():
    name="Rabbi"
    age=35
    height=5.8
    city=["Dhaka","Ctg","Rang"]
    country=("Ban","Ind","Pak")

    return country


    result = demoFun()
print(result)

('ban', 'india', 'pakistan')

In [ ]:

def demoFun():
    name="shofikul"
    age=23
    height=5.8
    city=["Dhaka","Ctg","Rang"]
    country=("Ban","Ind","Pak")

    return name,age,height,city,country


result = demoFun()
print(result)

('shofikul', 23, 5.8, ['Dhaka', 'Ctg', 'Rang'], ('Ban', 'Ind', 'Pak'))

In [ ]:
def demoFun():
    name="shofikul"
    age=23
    height=5.8
    city=["Dhaka","Ctg","Rang"]
    country=("Ban","Ind","Pak")
    return name,age,height,city,country
result = demoFun()
print(result)

('shofikul', 23, 5.8, ['Dhaka', 'Ctg', 'Rang'], ('Ban', 'Ind', 'Pak'))

In [ ]:
a=100

def Fun1():
    x=1
    y=2
    print(x+y+a)

 
def Fun2():
    x=5
    y=8
    print(x+y+a)

 
def Fun3():
    x=3
    y=9
    print(x+y+a)

Fun1()
Fun2()
Fun3()

103
113
112

In [ ]:

# Inline
# Auto Return

myFun = lambda x , y :  x + y
print(myFun(10,20))

30

In [ ]:
myFun=lamda x , y :  x + y
print(myFun(10,20))

In [ ]:
# 5*4*3*2*1=> Factorial
# 100*.........5*4*3*2*1
# 100+.........5+4+3+2+1


def Factorial(x):
    if x==0:
        return 1
    print(x)
    return x * Factorial(x-1)


print(Factorial(5))

In [ ]:
# Write a function for add 2 numbers
# Write another function to print the result


def addTwo(x,y):
    return x+y


def showResult(callback):

    print(callback)
    print(type(callback))


showResult(addTwo(10,20))

In [ ]:
# lamda function  
# 

'''
8. Inline Function or Short Hand Function or Lamda Function
    - Simple 1/2 Line Calculation
    - map/ filter/ sort
    - minor case
    - not for complex

   '''

sum = lambda a, b : a + b
print(sum(10, 20))
print((lambda a, b : a + b)(10, 20))

30
30

In [ ]:

'''    


8. Inline Function or Short Hand Function or Lamda Function
    - Simple 1/2 Line Calculation
    - map/ filter/ sort
    - minor case
    - not for complex



'''


# Inline
# Auto Return

myFun = lambda x , y :  x + y
print(myFun(10,20))

30

In [ ]:
# lambda function 
'''


8. Inline Function or Short Hand Function or Lamda Function
    - Simple 1/2 Line Calculation
    - map/ filter/ sort
    - minor case
    - not for complex


'''


myFun=lambda x , y :  x + y
print(myFun(10,20))

30

In [ ]:
'''

8. Inline Function or Short Hand Function or Lamda Function
    - Simple 1/2 Line Calculation
    - map/ filter/ sort
    - minor case
    - not for complex




'''

# lambda  function 

myFun=lambda x,y:x + y
print(myFun(10,20))

30

In [ ]:
myfun=lambda x,y:x+y
print(myfun(10,20))

30

In [ ]:
myfun=lambda x,y:x+y
print(myfun(10,20))

30

In [ ]:
# 10. Recursive Function
#  যে ফাংশন নিজেই নিজেকে কল করে
# 5*4*3*2*1=> Factorial
# 100*.........5*4*3*2*1
# 100+.........5+4+3+2+1


def Factorial(x):
    if x==0:
        return 1
    print(x)
    return x * Factorial(x-1)


print(Factorial(5))

5
4
3
2
1
120

In [ ]:
def Factorial(x):
    if x==0:
        return 1
    print(x)
    return x * Factorial(x-1)
print(Factorial(5))

5
4
3
2
1
120

In [ ]:
def Factorial(x):
    if x==0:
        return 1
    print(x)
    return x*Factorial(x-1)
# print(Factorial(4))
Factorial(4)

4
3
2
1

24

In [ ]:
def factorial(x):
    if x==0:
        return 1
    print(x)
    return x*Factorial(x-1)

factorial(4)

4
3
2
1

24

In [ ]:
def factorial(x):
    if x==0:
        return 1
    print(x)
    return x*factorial(x-1)
factorial(4)

4
3
2
1

24

In [ ]:
def addTwo(x, y):
    return x + y

def showResult(result):
    print("Result:", result)

# Use the addTwo function and pass its result to showResult
showResult(addTwo(10, 20))

Result: 30

In [ ]:
# সাধারণ ফাংশন
def say_hello(name):
    print("Hello,", name)

# callback ব্যবহার করা ফাংশন
def my_function(callback):
    # এখানে callback function চালানো হবে
    callback("Shofikul")

# এবার callback হিসেবে পাঠালাম
my_function(say_hello)

Hello, Shofikul

In [ ]:
# callback function

def say_hello(name):
    print("hello,",name)

def my_function( callback):
    callback("Shofikul")
my_function(say_hello)

hello, Shofikul

def say_hello(name):
    print("hello,",naj)

In [ ]:
# callback function
def say_hello(name):
    print("hello,",name)
    def my_function(callback):
        callback("shofikul")
my_function(say_hello)

hello, Shofikul

In [ ]:
# callback function 
def say_hello(name):
    print("hello,",name)

def my_function(callback):
    callback("shofikul")

my_function(say_hello)

hello, shofikul

In [ ]:

def addTwo(x,y):
    return x+y


def showResult(callback):

    print(callback)
    print(type(callback))


showResult(addTwo(10,20))

30
<class 'int'>

In [ ]:
#  "Recursive Factorial Function in Python

# 5*4*3*2*1=> Factorial
# 100*.........5*4*3*2*1
# 100+.........5+4+3+2+1


def Factorial(x):
    if x==0:
        return 1
    print(x)
    return x * Factorial(x-1)


print(Factorial(5))

5
4
3
2
1
120

In [ ]:
#  "Recursive Factorial Function in Python
def factorial(n):
    result = 1
    for i in range(1, n+1):
        result = result * i
    return result

print(factorial(5))

120

In [ ]:
#  "Recursive Factorial Function in Python

# 5*4*3*2*1=> Factorial
# 100*.........5*4*3*2*1
# 100+.........5+4+3+2+1


def Factorial(x):
    if x==0:
        return 1
    print(x)
    return x * Factorial(x-1)


print(Factorial(5))

5
4
3
2
1
120

In [ ]:
def Factorial(x):
    if x==0:
        return 1
    print(x)
    return x * Factorial(x-1)

Factorial(5)

5
4
3
2
1

120

In [ ]:
def Factorial(x):
    if x==0:
        return 1
    print(x)
    return x * Factorial(x-1)

Factorial(0)

1

In [50]:
# string declaration

name='we are learn python'
print(name)

we are learn python

In [51]:
demo1='''  lorem ipsom
    bangladesh  
    amer soner bangla  ami tomay valabashi chirodin 
    tomar akash tomar  batash amer prane bajay'''
print(demo1)

  lorem ipsom
    bangladesh
    amer soner bangla  ami tomay valabashi chirodin
    tomar akash tomar  batash amer prane bajay

In [53]:
demo2="""
my 
name 
is 
shodikul islam 
 .now 
  i am 
   study


"""


print(demo2)

my
name
is
shodikul islam
 .now
  i am
   study

In [55]:
text= "Hello World"
print(text[-1])

d

In [58]:
text= "Hello World"
print(text[0])

H

In [60]:
text= "Hello World"
print(text[-2])

l

In [61]:
text="Hello World"
print(text[0:7])

Hello W

In [62]:
text="Hello World"
print(text[:7])

Hello W

In [63]:
text="Hello World"
print(text[5:])

 World

In [64]:
text="Hello World"
print(text[6:])

World

In [65]:
text="Hello World"
print(text[7:])

orld

In [68]:
text="Hello World"
print(text[:-1])

Hello Worl

In [69]:
text="Hello World"
print(text[:-2])

Hello Wor

In [72]:
string1="Hello "
string2="World"
combined=string1 +string2
print(combined)

Hello World

In [ ]:
string1="Hello"
string2="World"
combined=string1 + " "+ string2
print(combined)

HelloWorld

In [77]:
string1="Hello"
string2="World"
combined=string1 + "-"+ string2
print(combined)

Hello-World

In [78]:
string1="Hello"
string2="World"
combined=string1 + ","+ string2
print(combined)

Hello,World

In [80]:
string1="Hello ,"
string2="World"
combined=string1 +  string2
print(combined)

Hello ,World

In [ ]:
# String Repetation
text="Hello"
repeat=text*10
print(repeat)

HelloHelloHelloHelloHelloHelloHelloHelloHelloHello

In [82]:
# String Repetation
text="Hello "
repeat=text*10
print(repeat)

Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello

In [84]:
# string repetation
text="shofikul islam "
repeat=text*10
print(repeat)

shofikul islam shofikul islam shofikul islam shofikul islam shofikul islam shofikul islam shofikul islam shofikul islam shofikul islam shofikul islam

In [ ]:
# Formate Using %
name="Jack"
age=30
# %s string placeholder
# %d number placeholder
total="My name is %s and my age is %d" %(name,age)
print(total)

My name is Jack and my age is 30

In [92]:
# Formate Using %
# %s string placeholder
# %d number placeholder
# "Python-এ %s এবং %d ব্যবহার করে স্ট্রিং ফরম্যাটিং"
''' 

%s ব্যবহার করা হয় string ভ্যারিয়েবল বসানোর জন্য।

%d ব্যবহার করা হয় integer ভ্যারিয়েবল বসানোর জন্য।

এটি Python-এর older style formatting, যা এখনো অনেক কোডে দেখা যায়।
'''

name="shofikul "
age=23
total="My name is %s and my age is %d" %(name,age)
print(total)

My name is shofikul  and my age is 23

In [90]:
name = "shofikul "        # name নামক ভ্যারিয়েবলে "shofikul " স্টোর করা হয়েছে
age = 23                  # age নামক ভ্যারিয়েবলে ২৩ স্টোর করা হয়েছে

# নিচের লাইনে পুরনো স্টাইলের স্ট্রিং ফরম্যাটিং ব্যবহার করা হয়েছে
total = "My name is %s and my age is %d" % (name, age)

print(total)              # ফলাফল প্রিন্ট করবে: My name is shofikul  and my age is 23

My name is shofikul  and my age is 23

In [ ]:

# "Python String Formatting with f-string"
name="shofiul"
age=23
total=f"my name is {name} my  age is {age}  "
print(total)

 my name is shofiul my  age is 23

In [ ]:
''' 
f-string হলো Python-এর একটি স্ট্রিং ফরম্যাটিং টুল যা f"..." এর মধ্যে {} ব্যবহার করে ভ্যারিয়েবলকে স্ট্রিংয়ের মধ্যে বসাতে দেয়।

এটি সহজ, দ্রুত এবং পরিষ্কার কোড লেখার উপায়।
'''


name = "shofiul"         # এখানে name নামক ভ্যারিয়েবলে "shofiul" স্টোর করা হয়েছে
age = 23                 # age নামক ভ্যারিয়েবলে ২৩ স্টোর করা হয়েছে
total = f"my name is {name} my age is {age}"  # f-string ব্যবহার করে স্ট্রিং তৈরি
print(total)             # তৈরি করা স্ট্রিংটি প্রিন্ট করা হচ্ছে

my name is shofiul my age is 23

In [94]:
text="shofikul islam . dhaka international university"
print(text.upper())
print(text.lower())
print(text.title())
print(text.capitalize())

SHOFIKUL ISLAM . DHAKA INTERNATIONAL UNIVERSITY
shofikul islam . dhaka international university
Shofikul Islam . Dhaka International University
Shofikul islam . dhaka international university

In [106]:
string_method="shofikul islam is a student "
print(string_method.upper())
print(string_method.lower())
print(string_method.capitalize())
print(string_method.title())
print(string_method.casefold())
print(string_method.encode())

SHOFIKUL ISLAM IS A STUDENT
shofikul islam is a student
Shofikul islam is a student
Shofikul Islam Is A Student
shofikul islam is a student
b'shofikul islam is a student '

In [ ]:
# String Repetation

text="shofikul "
repeat=text*10
print(repeat)

shofikul shofikul shofikul shofikul shofikul shofikul shofikul shofikul shofikul shofikul

In [112]:
text="shofikul "
repeat=text*10
print(repeat)

shofikul shofikul shofikul shofikul shofikul shofikul shofikul shofikul shofikul shofikul

In [113]:


name="Jack"
age=30.89
# %s string placeholder
# %d number placeholder (int)
# %f number placeholder (float)
total="My name is %s and my age is %f" %(name,age)
print(total)

My name is Jack and my age is 30.890000

In [114]:
name ="shofikukl "
age=23
print(f"my name is {name} and my age is {age}" )

my name is shofikukl  and my age is 23

In [116]:
# 6. String Replacement

text="hello world"
new_text=text.replace("world", "python")
print(new_text)

hello python

In [117]:
# 6. String Replacement

text="hello shofikul hasan"
new_text=text.replace("hasan", "islam")
print(new_text)

hello shofikul islam

In [ ]:
text="hello shofikul islam"
new_text2=text.replace("islam"," hasan")

In [119]:
text = "hello world, dhaka international university"
new_text=text.replace("world","shofikul")
print(new_text)

hello shofikul, dhaka international university

In [122]:
text = "hello world, dhaka international university"
new_text=text.replace("dhaka ","shofikul ")
print(new_text)

hello world, shofikul international university

In [ ]:
text="hi  kabir , how are you"
new_text3=text.replace("kabir", "shofikul")
print(new_text3)

hi  shofikul , how are you0

In [130]:
text_5="hello world"
textList_5=text_5.split()
print(textList_5)

['hello', 'world']

In [2]:
original_text="dhaka international university  satarkul"
splitText=original_text.split()
print(splitText)

['dhaka', 'international', 'university', 'satarkul']

In [4]:
original_text="Dhaka international university ,  satarkul"
splitText=original_text.split()
print(splitText)

['Dhaka', 'international', 'university', ',', 'satarkul']

In [6]:
original_text="dhaka international university -  satarkul"
splitText=original_text.split()
print(splitText)

['dhaka', 'international', 'university', '-', 'satarkul']

In [ ]:
text_or="                         Hello World bangladesh           "
print(text_or.rstrip())

                         Hello World bangladesh
Hello World bangladesh
Hello World bangladesh

In [22]:
text_or="     Hello World banglade   "
print(text_or.lstrip())

Hello World banglade

In [27]:
text_or="                         Hello World bangladesh           "
print(text_or.strip())

Hello World bangladesh

In [28]:
# Math or Number Arithmetic calculation

# Math or Number Arithmetic calculation
a=10
b=20
c=5.67

print("Addition:",a+b)
print("Subtraction:",a-b)
print("Multiplication:",a*b)
print("Division:",a/b)
print("Modulus:",a%b)

Addition: 30
Subtraction: -10
Multiplication: 200
Division: 0.5
Modulus: 10

In [35]:
a=20
b=10
c=5.67
print("addition:", a+b)
print("addition:", a-b)
print("addition:", a*b)
print("addition:", a/b)
print("addition:", a%c)

addition: 30
addition: 10
addition: 200
addition: 2.0
addition: 2.99

In [36]:
x=10
y=3.1516

print(float(x)) #Int->Float
print(int(y))  #Float->Int

print(str(x))  #Int->String
print(str(y))  #Float->String

10.0
3
10
3.1516

In [ ]:
# "Python-এ টাইপ কনভার্সন: Int, Float এবং String"
''' x = 10          # x একটি পূর্ণসংখ্যা (integer)
y = 3.1516      # y একটি দশমিক সংখ্যা (float)

print(float(x)) # x কে float-এ রূপান্তর করা হচ্ছে → ফলাফল: 10.0
print(int(y))   # y কে int-এ রূপান্তর করা হচ্ছে → ফলাফল: 3

print(str(x))   # x কে string-এ রূপান্তর করা হচ্ছে → ফলাফল: "10"
print(str(y))   # y কে string-এ রূপান্তর করা হচ্ছে → ফলাফল: "3.1516"
'''

In [37]:
x = 10          # x একটি পূর্ণসংখ্যা (integer)
y = 3.1516      # y একটি দশমিক সংখ্যা (float)

print(float(x)) # x কে float-এ রূপান্তর করা হচ্ছে → ফলাফল: 10.0
print(int(y))   # y কে int-এ রূপান্তর করা হচ্ছে → ফলাফল: 3

print(str(x))   # x কে string-এ রূপান্তর করা হচ্ছে → ফলাফল: "10"
print(str(y))   # y কে string-এ রূপান্তর করা হচ্ছে → ফলাফল: "3.1516"

10.0
3
10
3.1516

In [40]:
x=10
y=3.1416
print(float(x))
print(float(y))
print(str(x))
print(str(y))

10.0
3.1416
10
3.1416

In [41]:
result= 10 + 3*2  # + 26 # * 16
print(result)

16

In [43]:
result=10+2*6
print(result)

22

In [ ]:

# "Python math লাইব্রেরি ব্যবহার করে গণিতের ফাংশনসমূহ"


import math
print("Square Root", math.sqrt(16))
math.sqrt(16)
print("Power", math.pow(10, 2))
print("Trigonometric", math.sin(math.radians(90)))
print("Trigonometric", math.cos(math.radians(90)))
print("Trigonometric", math.tan(math.radians(45)))
print("Logarithmic", math.log(10))
print("Logarithmic", math.log10(10))
print("Factorial", math.factorial(5))
print("Greatest common divisor", math.gcd(50, 100))
print("Lowest Common Multiple", math.lcm(50, 100))




math.sqrt(16) → ১৬ এর বর্গমূল বের করে।

ফলাফল: 4.0
 
 math.pow(10, 2) → ১০ এর ঘাত ২ (অর্থাৎ 10² = 100)

ফলাফল: 100.0

Square Root 4.0
Power 100.0
Trigonometric 1.0
Trigonometric 6.123233995736766e-17
Trigonometric 0.9999999999999999
Logarithmic 2.302585092994046
Logarithmic 1.0
Factorial 120
Greatest common divisor 50
Lowest Common Multiple 100

In [ ]:
# ১. Square Root (বর্গমূল):
# → ১৬ এর বর্গমূল বের করে।

# ফলাফল: 4.0

# ✅ ২. Power (ঘাত):


# → ১০ এর ঘাত ২ (অর্থাৎ 10² = 100)

# ফলাফল: 100.0

#  ৩. Trigonometric Functions (ত্রিকোণমিতিক ফাংশন):


# → ডিগ্রি কে রেডিয়ান-এ রূপান্তর করে, কারণ sin, cos, tan রেডিয়ান ব্যবহার করে।

# sin(90°) → 1.0

# cos(90°) → 0.0 (প্রায়)

# tan(45°) → 1.0

# ✅ ৪. Logarithmic Functions (লঘুগণিত):




# → ১০ এর প্রাকৃতিক লগ (base e) → ফলাফল: 2.302...


# → ১০ এর base 10 লগ → ফলাফল: 1.0

# ✅ ৫. Factorial (গুণনফল):


# → ৫! = ৫×৪×৩×২×১ = 120

# ✅ ৬. Greatest Common Divisor (GCD - সর্বোচ্চ সাধারণ গুণিতক):



#  → ৫০ এবং ১০০ এর GCD = 50

# ✅ ৭. Lowest Common Multiple (LCM - সর্বনিম্ন সাধারণ গুণিতক):


# → ৫০ এবং ১০০ এর LCM = 100